[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest.git
[submodule "vendor/benchmark"]
	path = vendor/benchmark
	url = https://github.com/google/benchmark.git
[submodule "vendor/jwt-cpp"]
	path = vendor/jwt-cpp
	url = https://github.com/Thalhammer/jwt-cpp.git
